*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    background-color:#008b8b;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text1{
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #008b8b;
    position: relative;
    text-transform: uppercase;
    animation: text 3s 1;
}

.text2{
    font-size: 2em;
    font-weight: 400;
}

@keyframes text {
    0%{
        color: #008b8b;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px
    } 
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}



@media (max-width: 800px) {
    .text1{
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 20px;
        background: #008b8b;
        position: relative;
        text-transform: uppercase;
        animation: text 3s 1;
    }
    
    .text2{
        font-size: 1em;
        font-weight: 400;
    }
    
    
}

@media (max-width: 700px) {
    .text1{
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 20px;
        background: #008b8b;
        position: relative;
        text-transform: uppercase;
        animation: text 3s 1;
    }
    
    .text2{
        font-size: 0.8em;
        font-weight: 400;
    }
    @keyframes text {
    0%{
        color: #008b8b;
        margin-bottom: -20px;
    }
    30% {
        letter-spacing: 10px;
        margin-bottom: -20px
    } 
    85% {
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}
}
