@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.width{
    max-width:  1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: #00468b;
    font-family: 'Ubuntu';
}
.navbar .width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #FFFF;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:  #FFFF;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;

}

/* Home sekcija*/

.home{
    display:  flex;
    background: url(banner-website.jpg) no-repeat center;
    height:  100vh;

}
